

@media only screen and (max-width: 600px)  {

  .qr-visitingcard-area{
display: flex;
flex-direction: column !important;
width: 100%;
  }
  .qr-tab-area-content{
width: 100% !important;
  }
  .qr-tab-image{
    display: flex;
flex-direction: column !important;
  }


  .text-field-edit{
    margin-bottom: 0;
    width: 10px;
    max-width: 400px;
  }
}


