.navbar {
  background-color: #2196f3;
}

.navbar-title {
  flex-grow: 1;
}


@media only screen and (max-width: 600px) {
  .MuiPaper-root MuiPaper-elevation MuiPaper-elevation4 MuiAppBar-root MuiAppBar-colorPrimary MuiAppBar-positionFixed NavbarResponsive mui-fixed css-i1vrk0-MuiPaper-root-MuiAppBar-root{
    width: 100% !important;
  }
}